*{
    box-sizing:  border-box;
padding: 0;
margin: 0;
}

body{
 font-family: "Poppins", sans-serif;
 background-image: radial-gradient(#000000,#202020);
}

.header-inner-content{

max-width: 1300px;
margin-left: auto;
margin-right: auto;


}

.navbar{
    background-color: #1a1a1aa1;
    padding: 1rem;
    position: sticky;
    top: 0;
    /*box-shadow: 10px 0px 10px #323233;*/
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFD700;  
}
.logo span{
    color: rgb(233, 233, 233);
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    outline: none;
    color: rgb(227, 230, 233);
    font-size: 1.13rem;
}
p{
    color: #e4e8ec;
    font-size: 1.17rem;
    font-weight: 300;
}
.navbar .logo{
    width: 13rem;
}

.nav-icons{
    display: flex;
    align-items: center;

}

.nav-icons img{
    width: 30px;
    cursor: point;
    filter: invert(89%) sepia(6%) saturate(193%) hue-rotate(181deg) brightness(97%) contrast(91%);
}
.nav-icons img:hover{
    filter: invert(89%) sepia(6%) saturate(193%) hue-rotate(181deg) brightness(97%) contrast(91%) drop-shadow(0px 2px 12px #d8b800ef);
    transform: translateY(-3px);
    transition: all 0.25s;
}

.nav-icons img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: aliceblue;
    margin-right: 2.5rem;
    cursor: pointer;

}
.alinhamento {
    display: flex;
    align-items:center;
}

nav ul li:hover{
    transform: translateY(-3px);
    transition: all 0.25s;
    filter: drop-shadow(0px 2px 12px #d8b800ef);
}

.menu-btn{
    display: none;
}
.header-bottom{
    display: flex;
    align-items: center;
    justify-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.header-bottom-left{
    height: 100%;
    flex-basis: 50%;
}
.header-bottom-left h2{
    color: #FFD700 ;
    font-size:  3.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.header-bottom-left button{
    font-weight: 500;
    color: aliceblue;
    background:#FFD700 ;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 0.8rem 3.8rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: ease-in 0.2s;
}

.header-bottom-left button:hover{
    font-size: 1.6;
    font-weight: bold;
    box-shadow: 0px 0px 2px 5px  #FFD700;
    transform-origin: -1px;
}
header{
    background-image: radial-gradient(#000000,#202020);
}

.header-bottom-right{
display: flex;
flex-basis: 50%;
align-items: center;
justify-content: center;
}
.header-bottom-right img{
width: 115%;
margin: 0 auto;
filter: drop-shadow(4px 4px 20px #d8b80070);
align-items: flex-start;
}

@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }

    .header-bottom{
        flex-direction: column;
    }
}
