<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/cadastro.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="box-principal">
    <div class="box-image">
        <img src="../imagem/icons8-blockchain-500.png">
    </div>
    <div class="wrapper">
        <!-- Link de Login formatado -->
        <div class="login-wrapper">
            <a href="v_login.html" class="login-link">Já tem uma conta? Faça login aqui.</a>
        </div>

        <!-- Formulário de Cadastro -->
        <form action="/cadastro" method="POST">
            <h1>Crie sua Conta</h1>    

            <div class="input-box">
                <input type="text" required placeholder="Nome Completo:" maxlength="100">
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="email" required placeholder="Email:">
                <i class='bx bxs-envelope'></i>
            </div>

            <div class="input-box">
                <input type="text" required placeholder="Número de Telefone:" maxlength="15">
                <i class='bx bxs-phone'></i>
            </div>

            <div class="input-row">
                <div class="input-box w50">
                    <input id="password-input" type="password" required placeholder="Senha:">
                    <i class='bx bxs-lock' id="toggle-password"></i>
                </div>
                <div class="input-box w50">
                    <input id="confirm-password-input" type="password" required placeholder="Confirmar Senha:">
                    <i class='bx bxs-lock'></i>
                </div>
            </div>

            <!-- Botão "Cadastrar conta" como link -->
            <a href="/cadastro" class="btn-link">
                <button class="btn" type="button">Cadastrar conta</button>
            </a>
        </form>

        <div class="register-link">
            <p class="login-prompt">Faça login e comece a explorar:</p>
            <div class="social-login">
                <a href="#" class="social-btn google">
                    <i class='bx bxl-google'></i> Google
                </a>
                <a href="#" class="social-btn facebook">
                    <i class='bx bxl-facebook'></i> Facebook
                </a>
            </div>
        </div>
    </div>
 </div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="../js/senha_visivel.js"></script>
    
</body>
</html>
