<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="navbar">
        <div class="header-inner-content show-menu">
            <a href=""><img src="../imagem/beestorelogo.png" class="logo" alt=""></a>

            <!-- Navigation Menu -->
            <nav>
                <div class="alinhamento">
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Conta</a></li>
                    </ul>
                </div>
            </nav>

            <!-- Icons -->
            <div class="nav-icons">
                <a href="cart.html"><img src="../imagem/bxs-cart.svg"></a>
                <a href=""><img src="../imagem/bx-perfil.svg" alt=""></a>
                <img src="../imagem/bx-menu.svg" class="menu-btn">
            </div>
        </div>
    </div>
<!-- Header Section -->
<header>

    <!-- Header Content -->
    <div class="header-content">
        <div class="header-bottom">
            <div class="header-bottom-left">
                <h2>Veja os Produtos em Alta</h2>
                <p>Confira as melhores ofertas com um dos menores preços do mercado!</p>
                <button>Veja nossos produtos! &#8594;</button>
            </div>
            <div class="header-bottom-right">
                <!-- Carousel -->
                
                <div class="carousel-inner">
                    <button class="carousel-control-prev" onclick="prevItem()">&#10094;</button>
                    <div class="carousel-item active">
                        <img class="carousel-img" src="../imagem/controle.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img" src="../imagem/fone.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img" src="../imagem/controle2.png" alt="Third slide">
                    </div>
                    <button class="carousel-control-next" onclick="nextItem()">&#10095;</button>
                </div>
            
                <!-- Arrow Controls -->
                
                
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<main>
    <!-- Barra Background Section -->
    <div class="barra-background">
        <div class="page-inner"></div>
        <div class="cols cols-content">
            <div class="card"><img src="../imagem/controle.png" alt=""/>
                <p>Controle Sem Fio Xbox One X/S Elite Wireless, Bluetooth </p>
                <span class="old-price">R$ 699,99</span><span class="price">R$ 599,99</span>
                <span>À vista no Pix</span><span>ou até 10x de R$ 70,99</span><br></div>
            <div class="card"><img src="../imagem/fone.png" alt=""/>
                <p>Headphone QCY H3, Wireless, Noise Cancelling NCR, Blutooth 5.3 TWS, Preto - Xbox One </p>
                <span class="old-price">R$ 699,99</span><span class="price">R$ 599,99</span>
                <span>À vista no Pix</span><span>ou até 10x de R$ 70,99</span><br></div>
            <div class="card"><img src="../imagem/controle.png" alt=""/>
                <p>Controle Sem Fio Xbox One X/S Elite Wireless, Bluetooth </p>
            <span class="old-price">R$ 699,99</span><span class="price">R$ 599,99</span>
            <span>À vista no Pix</span><span class="parcelado">ou até 10x de R$ 70,99</span><br></div>
            
        </div>
    </div>

    <!-- Produtos Selecionados Section -->
    <div class="page-inner">
        <h3 class="section-title">Produtos selecionados</h3>
        <div class="subtitulo"></div>
        <div class="cols cols-content-2">
            <a href="produto1.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Controle Gamer</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto2.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto"></p>
                    <p class="Classificacao">Produto</p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto3.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Produto</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto4.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Produto</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
        </div>
    </div>

    <!-- Últimos em Estoque Section -->
    <div class="page-inner">
        <h3 class="section-title">Últimos em estoque</h3>
        <div class="subtitulo"></div>
        <div class="cols cols-content-2">
            <a href="produto5.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Controle Gamer</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto6.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto"></p>
                    <p class="Classificacao">Produto</p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto7.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Produto</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto8.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Produto</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto9.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Controle Gamer</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto10.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto"></p>
                    <p class="Classificacao">Produto</p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto11.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Produto</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
            <a href="produto12.html">
                <div class="Produto">
                    <img src="../imagem/controle.png" alt="">
                    <p class="Nome-produto">Produto</p>
                    <p class="Classificacao"></p>
                    <p class="price">1.999,99<span>R$</span></p>
                </div>
            </a>
        </div>
    </div>
</main>

<!-- JS Scripts -->
<script src="../js/carousel.js"></script>
<script src="../js/resposividade.js"></script>

</body>
</html>
