<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="header-inner-content">
        <h1 class="logo">Bee<span>Store</span></h1>
        <nav>
        <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Conta</a></li>
        </ul>
    </nav>
<div class="nav-icons">
<img src="../imagem/bxs-cart.svg">
<img src="../imagem/bx-menu.svg" class="menu-btn">
</div>
</div>
</div>
<header>
<div class="header-content">
    <div class="header-bottom">
        <div class="header-bottom-left">
       <h2>Veja os Produto em Alta</h2>
            <p> Conteudo para ser escrito depois vejo o que posso fazer</p>
            <button>Veja os em Alta &#8594;</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 
        </div>
    <div class="header-bottom-right">
        <img src="../imagem/controle.webp" class="controle">
        <br>
        <br>
        <br>
            <br>
    </div>
</div>
</div>
</header>
</body>
</html>